h1, h2, h3, h4, h5, h6 {
    text-transform: none !important;
}
.reveal p {
    margin: 0 auto 20px;
    text-shadow: 1px 1px 2px #333;
    color: red;
    padding: 10px;
}

.reveal pre {
    border: 0;
    box-shadow: none;
    margin: 0 auto 10px;
}

.reveal pre code {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 100%;
}

.reveal p code {
    border-radius: 0;
    background: #caff70;
}

li {
    text-shadow: 1px 1px 2px #333;
    color: blue;
    font-size: 24px;
}

blockquote {
    color: blue;
}

div blockquote {
    margin: 0 auto;
    text-align: center;
}

/* Custom Classes */

.montre {
    background: transparent;
    border: 0;
    box-shadow: none;
}
